openapi: 3.0.0   # Open api version

info:
  title: GPT2-LoveCraft
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate Love craft fiction.
    ---
      How to use:

      * First, Fill what the base text. This will be base of Love craft fiction.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://master-gpt2-love-craft-fpem123.endpoint.ainize.ai/).

    Fine tuning data reference >> [Love craft fiction](https://www.kaggle.com/bennijesus/lovecraft-fiction)

servers:
  - url: https://master-gpt2-love-craft-fpem123.endpoint.ainize.ai/

paths:
  /lovecraft:
    post:
      requestBody:
        required: true
        description: |
          This request will generate Love craft fiction.

          Request body example

              name: One day,
              length: 150

          curl example

              curl -X POST "https://master-gpt2-love-craft-fpem123.endpoint.ainize.ai/lovecraft" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "text=one day" -F "length=50"


        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: "Your Love craft fiction base."
                length:
                  type: string
                  description: "The size of text."
              required:
                - text
                - length
      responses: # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"

