<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GPT-2 LoveCraft</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script type="text/javascript">
    let time_obj = undefined;
    let flag = undefined;
    let chars = undefined;

    window.onload = () => {
        time_obj = document.getElementById("timer");
        flag = false;       // 더블 클릭 체크
    }


    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }


    function send_req() {
        if (double_submit_check()){
            return ;
        }

        let text = document.getElementById("text").value;

        if (text == '') {
            document.getElementById('warning').innerText = 'Please fill text!';
            flag = false;
            return ;
        }

        const formData = new FormData();
        const url = "/lovecraft";
        let start = 0;

        formData.append('text', text);
        formData.append('length', 300);

        // timer
        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);


        fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                clearInterval(timer);
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        }).then(data => {
            const result = document.getElementById('result');
            result.innerHTML = '&nbsp;&nbsp;' + data[0];

            clearInterval(timer);
            time_obj.innerText = 'Done!';
            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        });

    }

</script>
<body>
    <div class="styles">
        <style>
                #button{
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                #length{
                    width: 70px;
                    height: 30px;
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                table {
                  border-spacing: 10px;
                  border-collapse: separate;
                }

        </style>
    </div>
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="intro">
                <br>
                <!-- Project title -->
                <h1>GPT-2 LoveCraft</h1><br>
                <a>Generate Love craft fiction using GPT-2 model.</a><br><br>
                <a>Git hub repository : </a> <a href="https://github.com/fpem123/GPT2-LoveCraft" target="_blank">GPT-2 LoveCraft</a><br>
                <a>Open API : </a> <a href="https://ainize.ai/fpem123/GPT2-LoveCraft?branch=master" target="_blank">On Ainize</a><br>
                <a>Fine tuning data : </a><a href="https://www.kaggle.com/bennijesus/lovecraft-fiction" target="_blank">Kaggle</a><br><br>
            </div>

            <hr width="90%">

            <div class="Notice">
                <h3>Notice</h3>
                <ul>
                    <li>In this demo, the text length is fixed at 300.</li>
                    <li>The last line can be cut off in the middle.</li>
                </ul>
            </div>

            <br><hr width="90%">

            <div class="sample">
                <h3><label>Example</label></h3>
                <h5><label>Input</label></h5>
                <label>&nbsp;&nbsp;Text: once upon a time,</label><br><br>
                <h5><label>Love craft result</label></h5>
                <label>&nbsp;&nbsp;once upon a time, in the midst of my grief and despair, i fancied i heard the closing of one of the windows that the settle faced,
                    as if it had been stealthily opened. it had seemed to follow a whirring that was not of the old woman's spinning wheel.
                    this was not much, though, for the old woman was spinning very hard, and the aged clock had been striking.
                    after that i lost the feeling that there were persons on the settle, and was reading intently and shudderingly when the old man came back booted and dressed in a loose antique costume,
                    and sat down on that very bench, so that i could not see him. it was certainly nervous waiting, and the blasphemous book in my hands made it doubly so.
                    when i finally opened it to the title page my eyes dilated again with a wild wonder as great as if i had not just turned from a scene beyond the pale of nature,
                    for the strange handwriting was that of a man educated in the purest and most classic manner. it was that of an aged frenchman,
                    and i shuddered when i saw that it was not the le robert bloch name which i had known in life. it was signed by the name of pierre louis rocherie,
                    and i recognised it at once, even though it was set in a very strange hand. the roman letters, though my memory could not furnish me with a clue to their meaning.</label><br><br>
            </div>

            <br><hr width="90%">

            <div class="generate">
                <h3>Try it!</h3><br>
                <label>Base text: </label>
                <input type="text" id="text" style="width:40%">
                <button class="btn btn-primary btn=lg" type="submit" id="button1" onclick="send_req();">Summit</button><br>
                <label>Timer:&nbsp;</label><label id="timer">0.0</label><br>
                <b><label id="warning" style="color:red;"></label></b>
            </div>

            <br><hr width="90%">

            <div class="result">
                <h3><label>Result</label></h3>
                <!-- Story generate result table -->
                <label id="result"></label>
            </div>

            <br><hr width="50%">
        </div>
    </div>
</body>
</html>